/* App.css */
.app-container {
  text-align: center;
}

header {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
}

main {
  padding: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
}
